.logo {
    max-width: 100px; 
    margin-bottom: 20px; 
}

.plus-jakarta-sans-light {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 200;
}

.plus-jakarta-sans-regular {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}

.plus-jakarta-sans-bold {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f7fb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    width: 100%;
    display: block;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #444;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #337ab7;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #286090;
}

.forgot-password {
    text-align: center;
    margin-top: 15px;
}

.forgot-password a {
    color: #337ab7;
    text-decoration: none;
    margin-top: 8px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.image-container {
    width: 60%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
